work/
.nextflow*
.DS_Store
.nextflow/
pipeline_info/
*.sif
Results/
# workflows/
data/*.gtf
data/*.gz
*.dot
protocols/
nf-results/
files-dump/
instructions.md
*.bak
update_repo_mike.sh
update_repo_mike2.sh
update_repo_mike3.sh
# MkDocs build directory
/site/
data/test_data/
data/Twist_HMP_target_BED/
data/*.gtf
data/*.fa
data/*.fasta
data/*.bed
data/*.bed.gz
README_files/
git_workflow_summary.md
tmf_slurm.sh
backup/
.venv/
.quarto/
logs/
run_log/
results*/
results/
Results/
result_analysis/
build_report.sh
cosign.key
cosign.pub
*.key
*.pub
verify_and_build.sh
verify_report_container.sh
MethylFlow_Report.pdf
milou_Report.pdf
.nextflow.log
*.log
notes*
*.code-workspace
.vscode/
.idea/
*_files/
__pycache__/
*.pyc
.Rhistory
.RData
.secure_phi_index.tsv
.Rproj.user
debugging*
test_results/
project_tracker.yaml