params {
    aligner = 'bwameth'
    use_parabricks = true
    parabricks_container = 'nvcr.io/nvidia/clara/clara-parabricks:4.7.0-1'
}

process {
    withLabel: 'gpu' {
        container = "${params.parabricks_container}"
        cpus = 16
        memory = '120 GB'
        ext.args = '--max-read-length 250 --bwa-options "-K 600000 -Y"'
    }

    withName: '.*METHYLKIT_ANALYSIS.*' {
        cpus = { Math.min( 8, (params.max_cpus ?: 16) as int ) }
        memory = { ( 160.GB * task.attempt ).compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1 ? params.max_memory as nextflow.util.MemoryUnit : ( 140.GB * task.attempt ) }
        containerOptions = { "--env R_LIBS_USER=\"\" --env R_LIBS_SITE=\"\" --env R_LIBS=\"\" --env TMPDIR=${System.getenv('TMPDIR') ?: '/tmp'} --env TMP=${System.getenv('TMP') ?: '/tmp'} --env TEMP=${System.getenv('TEMP') ?: '/tmp'}" }
    }
    withName: '.*EDGER_ANALYSIS.*' {
        cpus = { Math.min( 4, (params.max_cpus ?: 16) as int ) }
        memory = { ( 160.GB * task.attempt ).compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1 ? params.max_memory as nextflow.util.MemoryUnit : ( 80.GB * task.attempt ) }
        ext.args = '--filter_var PValue'
        containerOptions = { "--env R_LIBS_USER=\"\" --env R_LIBS_SITE=\"\" --env R_LIBS=\"\" --env TMPDIR=${System.getenv('TMPDIR') ?: '/tmp'} --env TMP=${System.getenv('TMP') ?: '/tmp'} --env TEMP=${System.getenv('TEMP') ?: '/tmp'}" }
    }
    withName: '.*DSS_ANALYSIS.*' {
        cpus = { Math.min( 4, (params.max_cpus ?: 16) as int ) }
        memory = { ( 160.GB * task.attempt ).compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1 ? params.max_memory as nextflow.util.MemoryUnit : ( 80.GB * task.attempt ) }
        ext.args = '--smoothing FALSE'
        containerOptions = { "--env R_LIBS_USER=\"\" --env R_LIBS_SITE=\"\" --env R_LIBS=\"\" --env TMPDIR=${System.getenv('TMPDIR') ?: '/tmp'} --env TMP=${System.getenv('TMP') ?: '/tmp'} --env TEMP=${System.getenv('TEMP') ?: '/tmp'}" }
    }
}

docker {
    runOptions = '--gpus all'
}

