params {
    // Input/Output options
    sample_sheet    = null // "$projectDir/Sample_sheet_twist.csv"
    genome_fasta    = null // 
    aligned_bams    = false // starts with bismark-aligned bam files
    coverage_files  = false // starts directly from extracted bismark coverage files (*.cov.gz)
    bismark_index   = false  // Set to false to generate index, or provide path to existing index
    save_reference  = false  // Set to true to cache the generated Bismark index in outdir/reference
    bismark_split_reads = 0 // Number of reads per split fastq (0 to disable)
    aligner         = 'bismark' // or 'bwameth'
    use_parabricks  = false     // Set to true to use NVIDIA Parabricks
    diff_meth_method = 'dss' // e.g. 'dss,edger' or 'all'
    design_file     = null
    outdir          = 'results'
    mode            = 'research' // 'research' or 'clinical'
    assay_type      = 'wgbs' // default assay type: wgbs, emseq, twist
    run_clinical_report = true // whether to run the unified layer and Quarto
    promoter_dist   = 2000 // Distance threshold for Promoter region annotation
    enhancer_dist   = 10000 // Distance threshold for Enhancer/Distal region annotation
    

    // Clinical Benchmarks
    compare_str         = "all"
    coverage_threshold  = 10 // Article default=10 (was 3)
    min_30x_pc          = 80 // Min % of targets required to have >30x coverage

    // MultiQC options
    multiqc_config      = null
    multiqc_title       = null

    // Max resource options
    max_memory          = '250.GB'
    max_cpus            = 48
    max_time            = '240.h'

    //annotation

    gtf_file = null
    refseq_file = null
    disgenet_db = null // Path to local DisGeNET tsv

    methylkit {
        assembly = 'hg19' // match with reference genome (Article uses hg19)
        mc_cores = 16
        diff = 0.25      // Article default=0.25 (was 0.05)
        qvalue = 0.01    // Article default=0.01 (was 0.1)
        bed_file = null  // Path to Twist target BED file
        min_per_group = 3 // Minimum number of samples per group to cover a site
    }

    // DSS specific parameters
    dss {
        p_threshold = 0.05
        diff_threshold = 0.05
    }

    // EdgeR specific parameters
    edger {
        p_threshold = 0.05
        logfc_cutoff = 0.5
    }
    
    // Post-processing options
    post_processing = true
    // Enrichment options
    logfc_cutoff = 0.5
    pvalue_cutoff = 0.05
    top_n_genes = 100
    
    // KEGG specific enrichment options (can be more lenient)
    kegg_logfc_cutoff = 0.1
    kegg_pvalue_cutoff = 0.1
    hyper_color = 'red'
    hypo_color = 'blue'
    nonsig_color = 'black'

    // Qualimap options
    qualimap_args = ""

    //skip differential methylation analysis
    skip_diff_meth = false
    
    //help
    help = false

    // Pre-staging
    pre_stage_test_data = false
}
